html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	height: 20px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, rgb(211, 206, 208));
	border-radius: 12px;
}

body {
	font-family: Alata, sans-serif, Arial, Helvetica;
}

.header-img {
	background-position: center;
	background-size: cover;
	height: auto;
	width: 100%;
}

.centre {
	text-align: center;
}

.pv-highlight{
	background-color: rgba(135, 131, 120, 0.15);
	color: palevioletred;
	transition: .3s ease-in-out;
}

.pv-highlight:hover{
	color: black;
}